
<link rel="stylesheet" href="css/addmovie.css">
<div
        ng-controller="addMovieController"
    >
        <form 
            class="add-movie-container"
            ng-submit="addMovie()" 
        >
            <div class="add-movie-name field">
                <label for="inputMovieName">
                    Movie Name
                </label>
                <input 
                    id="inputMovieName" 
                    class="input-movie-name" 
                    type="text" 
                    placeholder="Enter Movie Name"
                    ng-model="newMovie.name" 
                    ng-required="true"
                >
            </div>

            <div class="add-movie-rating field">
                <label for="inputMovierating">
                    Movie Rating
                </label>
                <input 
                    id="inputMovierating" 
                    class="nput-movie-rating" 
                    type="number"
                    placeholder="Enter Movie Rating" 
                    ng-model="newMovie.rating" 
                    ng-required="true"
                >
            </div>

            <div class="add-movie-image field">
                <label for="inputMovieImage">
                    Movie Image Url
                </label>
                <input 
                    id="inputMovieImage" 
                    class="nput-movie-image" 
                    type="text"
                    placeholder="Enter Movie Image Url" 
                    ng-model="newMovie.image" 
                    ng-required="true"
                >
            </div>

            <div class="add-movie-trailer field">
                <label for="inputMovieTrailer">
                    Movie Trailer Url
                </label>
                <input 
                    id="inputMovieTrailer" 
                    class="nput-movie-trailer" 
                    type="text"
                    placeholder="Enter Movie Trailer Url" 
                    ng-model="newMovie.trailer" 
                    ng-required="true"
                >
            </div>

            <div class="add-movie-submit-btn ">
                <input
                    id="addMovieSubmitButton" 
                    type="submit" 
                    value="Add a movie"
                >
            </div>
        </form>
</div>