<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation</title>
</head>
<body>
    <div class="content">
        {{contact}}
        <form name="contactform" novalidate>
        <label for="username"></label>
        <input type="text" id="username" name="name" placeholder="Enter the Name" ng-model = "contact.name"  minlength="3" ng-required="true">
        <div ng-show="contactform.name.$touched && contactform.name.$invalid">
            <small style="color:red;display: block;">Enter a valid name</small>
        </div>
        <!-- <br>
        <span>
            $pristine - {{contactform.name.$pristine}}
            $dirty - {{contactform.name.$dirty}}
            $untouched - {{contactform.name.$untouched}}
            $touched - {{contactform.name.$touched}}
            $invalid - {{contactform.name.$invalid}}
            $valid - {{contactform.name.$valid}}
        </span>
        <br> -->
        <!-- <div ng-show="contactform.name.$touched && contactform.name.$invalid">
            <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
        </div> -->
        <label for="useremail"></label>
        <input type="email" id="useremail" name="email" placeholder="Enter the email" ng-model = "contact.email" ng-required="true">
        <div ng-show="contactform.email.$touched && contactform.email.$invalid">
            <small style="color:red;display: block;">Enter a valid email</small>
        </div>
        <label for="userquery"></label>
        <input type="text" id="userquery" name="message" placeholder="Enter the message" ng-model = "contact.message" ng-required="true">
        <div ng-show="contactform.message.$touched && contactform.message.$invalid">
            <small style="color:red;display: block;">Enter a proper message</small>
        </div>  
        <input type="submit" value="send"></input>
    </form>
    </div>
</body>
</html>