<link rel="stylesheet" href="css/feedback.css">
    <div
        ng-controller="feedbackController" 
        class="feedback-container">
        <h2>Customer Feed-Back</h2>
        <form 
            id="feedbackForm" 
            name="feedbackForm" 
            ng-submit="feedbackFormSubmit()">
            <div class="feedback-form_field field">
                <label 
                    class="field_label"
                    for="userName">
                    Name
                </label>
                <input 
                    id="userName"
                    class="field_input" 
                    type="text" 
                    name="name" 
                    placeholder="Enter your name(minimum: 3 letters)" 
                    ng-model="userFeedback.name"
                    ng-minlength="3" 
                    ng-required="true"
                >
                <small 
                    class="field_small"
                    ng-show="feedbackForm.name.$touched && feedbackForm.name.$invalid">
                    Enter a valid name
                </small>
            </div>
            
            <div class="feedback-form_field field">
                <label 
                    class="field_label"
                    for="userEmail">
                    Email
                </label>
                <input 
                    id="userEmail" 
                    class="field_textarea"
                    type="email" 
                    name="email" 
                    placeholder="Enter your email" 
                    ng-model="userFeedback.email"
                    ng-required="true"
                >
                <small 
                    class="field_small"
                    ng-show="feedbackForm.email.$touched && feedbackForm.email.$invalid">
                    Enter a valid email
                </small>
            </div>

            <div class="feedback-form_field field">
                <label 
                    class="field_label"
                    for="userFeedback">
                    Feedback
                </label>
                <textarea 
                    id="userFeedback"
                    class="field_input"
                    name="feedback" 
                    rows="5" 
                    cols="33" 
                    placeholder="Enter your query/feedback"
                    ng-model="userFeedback.message" 
                    ng-required="true">
                </textarea>
                <small 
                    class="field_small"
                    ng-show="feedbackForm.feedback.$touched && feedbackForm.feedback.$invalid"
                    >
                    Enter a proper message
                </small>
            </div>

            <div class="feedback-form_field field">
                <input
                    id="submittingForm"
                    class="field_submit"
                    type="submit" 
                    value="SUBMIT"
                >
            </div>
        </form>
    </div>
