<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
</head>

<body>
    <div id="header-menubar" class="header-page-container">

        <div class="header_navigation header">
            <a 
                class="homepage_navigation"
                id="home-page-field"
                href="/index.html#!"
            >
                Home
            </a>
        </div>

        <div>
            <h1> My Movies</h1>
        </div>

        <div class="header_navigation header">
            <a 
                id="movieslist-page-field" 
                href="/index.html#!/movies"
            >
                List of Movies
            </a>
            <span class="navigation_item_separator">
            </span>
            <a 
                id="feedback-page-field" 
                href="/index.html#!/feedback"
            >
                Give feedback
            </a>
        </div>
    </div>
</body>

</html>