<link rel="stylesheet" href="css/header.css">
    <div 
        id="headerComponent" 
        class="header-page-container">
        <div class="header_navigation header">
            <a 
                class="homepage_navigation"
                id="homepageNavigationField"
                ng-href="/index.html#!/movies"
            >
                Home
            </a>
        </div>

        <div>
            <h1>Welcome To My Movies</h1>
        </div>

        <div class="header_navigation header">
            <span class="navigation_item_separator">
            </span>
            <a 
                id="feedbackpageNavigationField" 
                ng-href="/index.html#!/feedback"
            >
                Give feedback
            </a>
        </div>
    </div>