<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/movieslist.css">
</head>

<body>
    <div 
        ng-app="movieListModule" 
        ng-controller="movieController"
    >
            <div class="movies-search-field">
                <input 
                    id="inputmovies"
                    class="search" 
                    type="text" 
                    ng-model="searchMovie" 
                    placeholder="Search for movies here..."
                />
            </div>                      
            <div class="filters-btn btn">
                <button 
                    class="orderby-movie-btn"
                    ng-click="order = 'movieName'">
                    Order By Movie Name
                </button>
                <button 
                    class="orderby-rating-btn"
                    ng-click="order = '-movieRating'">
                    Order By Rating
                </button>
                <button 
                    class="view-feedback-btn">
                    <a 
                        id="movieslist-page-field" 
                        href="/index.html#!/viewfeedback"
                    >
                    View feedback
                    </a>
                </button>
                <button 
                    class="addmovie-btn">
                    <a 
                        id="addmovie-page-field" 
                        href="/index.html#!/addmovie"
                    >
                    Add Movie
                    </a>
                </button>
            </div>
            
            <div 
                class="show_movies">
                <div 
                    ng-repeat="movie in movieInfo | orderBy: order | filter: searchMovie"
                    class="movies-as-cards"   
                >       
                        <a 
                                href="{{ movie.trailerUrl }}">
                                <img 
                                    ng-src="{{ movie.movieImage }}" 
                                    alt="Image of {{ movie.movieName }}"
                                >
                            </a>
                            <h2>
                                {{ movie.movieName }}
                            </h2>
                            <p>
                                Rating:- {{ movie.movieRating }}
                            </p>
                            <button
                                class="remove-movie-btn"
                                ng-click="removeMovie(movie)">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>