<link rel="stylesheet" href="css/movieslist.css">
    <div 
        ng-controller="movieController"
    >
            <div class="movies-search-field">
                <input 
                    id="searchForMovies"
                    class="search-movies" 
                    type="text" 
                    ng-model="searchMovie" 
                    placeholder="Search for movies here..."
                />
            </div>  

            <div class="movie-action-list">
                <div 
                    class="view-feedback-btn">
                    <a 
                        id="viewMoviesFeedbackField" 
                        ng-href="/index.html#!/viewfeedback"
                    >
                    View feedback
                    </a>
                </div>
                <div 
                    class="addmovie-btn">
                    <a 
                        id="addMoviesField" 
                        ng-href="/index.html#!/addmovie"
                    >
                    Add Movie
                    </a>
                </div>
            </div>
            
            <div class="show_movies">
                <div 
                    class="movies-as-cards"
                    ng-repeat="movie in moviesList | orderBy: '-movieRating' | filter: searchMovie"    
                >
                    <a ng-href="{{ movie.trailerUrl }}">
                        <img 
                            id="movieImage" 
                            ng-src="{{ movie.movieImage }}" 
                            alt="Image of {{ movie.movieName }}"
                        >
                    </a>
                    <h2>
                        {{ movie.movieName | uppercase }}
                    </h2>
                    <p>
                        Rating:- {{ movie.movieRating }}
                    </p>
                    <button 
                        class="remove-movie-btn" 
                        ng-click="removeMovie(movie)"
                    >
                        Remove
                    </button>
                </div>
            </div>
            </div>
            </div>
    </div>