<link rel="stylesheet" href="css/view-feedback.css">
    <div 
        id="viewFeedbackContainer"
        class="view-feedback-container"
        ng-controller="viewFeedbackController"
    >
        <h2> USER REVIEWS </h2>
        <div 
            id="displayFeedback"
            class="feedback-data-display" 
            ng-repeat="reviews in feedbackData"
        >
            <div 
                id="userFeedbackName"
                class="feedback-data-display data" >
                Name:- 
                <span> 
                    {{ reviews.userName }} 
                </span>
            </div>

            <div 
                id="userFeedbackEmail"
                class="feedback-data-display data">
                Email:- 
                <span> 
                    {{ reviews.userEmail }} 
                </span>
            </div>

            <div 
                id="userFeedbackMessage"
                class="feedback-data-display data">
                FeedBack:-
                <span> 
                    {{ reviews.userFeedback }} 
                </span>
            </div>
            <hr>
        </div>
    </div>
